.section-highlight {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.abcd-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.abcd-card {
    display: flex;
    padding: 36px 33px 36px 34px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: var(--Color-2, #FFF);
}

.abcd-card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 130px;
}

.abcd-card-text {
    color: var(--585858, #585858);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 163px;
}

@media (width<1350px) {
    .abcd-card {
        padding: 24px;
    }

    .abcd-cards {
        gap: 10px;
    }
}

@media (width<1190px) {
    .abcd-card {
        padding: 32px;
    }

    .abcd-cards {
        gap: 16px;
    }
}

@media (width<580px) {
    .abcd-cards {
        gap: 14px;
    }

    .abcd-card {
        display: flex;
        padding: 36px 21px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 17px;
        background: var(--Color-2, #FFF);
        box-shadow: 0px 4px 19.2px 0px #E7E7E7;
    }

    .abcd-card-text {
        width: 120px;
        color: var(--585858, #585858);
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
}