.abcd-section-videoreview {
    display: flex;
    justify-content: flex-start;
    gap: 61px;
    padding-right: 0;
    overflow: hidden;
}

.abcd-video-review-heading {
    min-width: 351px;
    line-height: 1.2;
}

.abcd-review-video-para {
    margin-top: 6px;
}

.abcd-video-review-carousel {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.abcd-video-review-top {
    display: flex;
    gap: 24px;

}

.abcd-video-review-bottom {
    display: flex;
    align-items: center;
}

.abcd-video-carousel-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    border-radius: 12px;
    background: var(--Linear, linear-gradient(100deg, #B1B1B1 0.89%, #BDBDBD 9.58%, #EBE6E6 26.9%, #FFF 44.84%, #F0F0F0 64.21%, #CBCBCB 84.67%, #BEBEBE 102.86%));
    box-shadow: 2px 4px 0px 0px rgba(135, 134, 134, 0.11);
    width: 268px;
    height: 352px;
}

.abcd-video-carousel-card>img {
    aspect-ratio: 236/254;
    border-radius: 12px;

}

.abcd-video-review-author {
    color: var(--585858, #585858);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 12px;
    line-height: normal;
}

.abcd-video-review-profession {
    color: var(--585858, #585858);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (width<1080px) {
    .abcd-video-review-heading {
        min-width: unset;
        width: 100%;
    }

    .abcd-section-videoreview {
        flex-direction: column;
        align-items: flex-start;
    }

    .abcd-video-review-bottom {
        justify-content: flex-end;
        padding-right: 40px;
    }
}